<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EjamaatServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="EjamaatServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ejas.its52.com/ejamaatservices.asmx"
                binding="basicHttpBinding" bindingConfiguration="EjamaatServiceSoap"
                contract="EjamaatServiceSoap" name="EjamaatServiceSoap" />
            <endpoint address="https://ejas.its52.com/ejamaatservices.asmx"
                binding="customBinding" bindingConfiguration="EjamaatServiceSoap12"
                contract="EjamaatServiceSoap" name="EjamaatServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>